body{
	background-image: url("daftar.jpeg");
	background-size: 80%;
	background-attachment: fixed;
}
fieldset{
	background-color: rgba(155, 1, 1, 0.8);
	margin-left: 100px;
	margin-right: 100px;
}

legend{
	font-size: 30px;
}

#nama{
	font-size: 50px;
}
