h1{
	transform: translate(565px, 100px);
	color: white;
	font-size: 35px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	width: 200px;
	text-align: center;
	animation-name: changing;
	animation-duration: 10s;

}


#formulir{
	position: fixed;
	width: 15%;
	height: 50%;
	border-radius: 3px;
	border-style: dashed;
	border-width: 2px;
	background-color: rgba(239, 225, 174, 0.5);
	box-shadow: 1px 1px 50px 3px #d16c6c;
	margin-top: 100px;
	margin-left: 550px;
	padding-top: 25px;
	padding-left: 30px;

}

.label{
	font-size: 12px;
}

#membered{
	font-size: 11px;
	clear: both;
	transform: translateX(5px);
}

#tombol{
	float: right;
	margin-right: 30px;

}
